<script src="https://code.highcharts.com/highcharts.js"></script>

<div class="">
  <div class="row">
    <h3 class="center grey-text"><%= @producto.title %></h2>
      <p class="center"><a href="<%=@producto.permalink %>" target="_blank"><%= @producto.marketplace %></a></p>
      <h3 class="center grey-text"><%= number_to_currency(@producto.precio, precision: 0, :unit => "$") %> </h3>
  </div>
  <div class="row">
    <div class="col m3">
      <% if @producto.image.nil? || @producto.marketplace == "Linio.com.ar"%>
      <%= image_tag "default.png", class: 'margin-default-image activator image' %>
      <% else %>
      <%= image_tag @producto.image, class: 'activator image' %>
      <% end %>
    </div>
    <div class="col s12 m9">
      <div id="historial" style="width:100%; height:400px;"></div>
    </div>

  </div>

</div>

<style media="screen">
  .image{
    width: 100%;
  }
</style>


<script type="text/javascript">
Highcharts.chart('historial', {
    chart: {
        type: 'line'
    },
    title: {
        text: 'Historial de precio'
    },
    subtitle: {
        text: ''
    },
    xAxis: {
        categories: gon.fechas
    },
    yAxis: {
        title: {
            text: 'Pesos ($)'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: false
        }
    },
    series: [{
        name: 'Precios ($)',
        data: gon.precios
      }]
});

console.log(gon.precios)
</script>
