
<div class="container">
  <div class="buscador-principal">
    <div class="margin">
      <!-- <div class="center">
        <%= image_tag('logodeoferta.png', class: 'img-fluid') %>
      </div> -->
      <div class="center">
        <%= form_tag(productos_path, method: :get, class: 'buscador') do %>
          <%= text_field_tag 'query', nil, placeholder: 'Que es lo que estas buscando?' %>
          <i class="material-icons">search</i>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <% @productos.each do |producto| %>
      <div class="col s4">
        <%= render 'card', producto: producto %>
      </div>
    <% end %>
  </div>

</div>
<div class="center">
  <%= paginate @productos %>
</div>
