
<div class="container">
  <div class="buscador-principal">
    <div class="margin">
      <!-- <div class="center">
        <%= image_tag('logodeoferta.png', class: 'img-fluid') %>
      </div> -->
      <%= render 'productos/buscador' %>
    </div>
  </div>
  <div class="row">
    <div class="col m3 s12">
      <%= render 'filtro', brands: @brands, categories: @categories %> 
    </div>
    <div class="col m9">

      <ul class="collection">
        <% if @productos.empty? %>
          <p class="sin-resultados">No hay resultados para mostrar</p>
        <% else %>
          <% @productos.each do |producto| %>
            <li class="collection-item avatar">
              <%= link_to historial_producto_path(producto), class:'sin-estilo' do %>
                <img src="images/yuna.jpg" alt="" class="circle">
                <% if producto.image.nil? || producto.marketplace == "Linio.com.ar"%>
                  <%= image_tag "default.png", class: 'circle' %>
                <% else %>
                  <%= image_tag producto.image, class: 'circle' %>
                <% end %>
                <span class="title"><%= producto.title %></span>
                <p class="precio"><%= number_to_currency(producto.precio, precision: 0, :unit => "$") %> <br>
                </p>
                  <%= link_to producto.permalink, target: "_blank" do %>
                    <%= producto.marketplace %>
                    <i class='tiny material-icons'>open_in_new</i>
                  <% end %>
                <!-- <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a> -->
                <div class="value <%= producto.id %>-fav" data-toggle="tooltip" data-placement="top" title="Agregar a favoritos">
                  <%= favorito_link(producto) %>
                </div>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>

    </div>

  </div>

</div>
<div class="center">
  <%= paginate @productos %>
</div>
