<div class="container">
  <div class="buscador-principal">
    <div class="margin">
      <!-- <div class="center">
        <%= image_tag('logodeoferta.png', class: 'img-fluid') %>
      </div> -->
      <%= render 'productos/buscador' %>
    </div>
    <h2 class="center destacados">
      Destacados
    </h2>

    <div class="productos-slider">

      <div class="col m8 offset-m2 center">
        <div class="">
          <div class="slider-nav">
            <% @productos.each do |producto| %>
              <% if producto.image.nil? || producto.marketplace == "Linio.com.ar"%>
                <%= image_tag "default.png", class: 'margin-default-image' %>
              <% else %>
                <%= image_tag producto.image %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col m4 offset-m4 center">
        <div class="slider-for">
          <% @productos.each do |producto| %>
            <%= render 'card', producto: producto %>
          <% end %>
        </div>
      </div>

    </div>

  </div>

</div>
<style media="screen">
  @media (min-width: 767px) {
    .small-card{
      width: 40%!important;
    }
  }
</style>
