<!DOCTYPE html>
<html>
  <head>
    <title>PruebaMongo</title>
    <%= csrf_meta_tags %>
        <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="theme-color" content="#4fc3f7" />
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#4fc3f7">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#4fc3f7">

    <%= Gon::Base.render_data %>
  </head>

  <body>
    <%= render "layouts/navigation" %>
    <div class="">
      <% if notice || alert %>
        <!-- true -->
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
